.vid{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}


.bg3{
    position: absolute;
    height: 1300px;
    width: 100%;
    z-index: -1;
}

.holder{
    animation: everything 1s ease-in infinite;
    animation-iteration-count: 1;
}


@keyframes everything {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header{
    margin-top: 10%;
    margin-bottom: 3%;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}