.App {
  text-align: center;
}
.mdl-layout__title, .mdl-layout-title {
  font-weight: 600 !important;
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
  font-size: 2.7rem !important;
  color: black;
}



#header{
  background-color: white;
}




#link{
  font-size: 1.4rem;
  color:#4169E1 !important;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  
}

#link:hover{
  
  color: black !important;

 
}

